<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bacteria Page</title>
    <link rel="stylesheet" href="../assets/windows.css">
</head>
<body>



    <button onclick="openAddWindow()">Add Data</button>

    <div class="addWindow">
        <form action="" method="post" class="addForm">
            <div>
                <label class="title">Name: </label>
                <input type="text" name="name" class="size">
            </div>

            <div>
                <label class="title">Purpose: </label> 
                <% for(let i = 0; i < kind['Purpose'].length; i++) { %>
                    <label>
                        <input type="radio" name="purpose" value="<%= kind['Purpose'][i] %>"> <%= kind["Purpose"][i] %>
                    </label>
                <% } %>
                <br>
            </div>
            
            <div>
                <label class="title">Specise: </label> 
                <% for(let i = 0; i < kind['Specise'].length; i++) { %>
                    <label>
                        <input type="radio" name="specise" value="<%= kind['Specise'][i] %>"> <%= kind["Specise"][i] %>
                    </label>
                <% } %>
                <br>
            </div>
            
            <div>
                <label class="title">Function: </label><br>

                <div>
                    <label class="secTitle">
                        &ensp;Plant Growth Substances: 
                    </label>
                    <% for(let i = 0; i < kind['Function']['Plant Growth Substances'].length; i++) { %>
                        <input type="checkbox" name="function1" value="<%= kind['Function']['Plant Growth Substances'][i] %>"> 
                            <%= kind["Function"]['Plant Growth Substances'][i] %>
                    <% } %>
                    <br>
                </div>

                <div>
                    <label class="secTitle">
                        &ensp;Nutritions Uptake & Chelators: 
                    </label>
                    <% for(let i = 0; i < kind['Function']['Nutritions Uptake & Chelators'].length; i++) { %>
                        <input type="checkbox" name="function2" value="<%= kind['Function']['Nutritions Uptake & Chelators'][i] %>"> 
                            <%= kind["Function"]['Nutritions Uptake & Chelators'][i] %>
                    <% } %>
                    <br>
                </div>

                <div>
                    <label class="secTitle">
                        &ensp;Halotolerence: 
                    </label>
                    <% for(let i = 0; i < kind['Function']['Halotolerence'].length; i++) { %>
                        <input type="checkbox" name="function3" value="<%= kind['Function']['Halotolerence'][i] %>"> 
                            <%= kind["Function"]['Halotolerence'][i] %>
                    <% } %>
                    <br>
                </div>

                <div>
                    <label class="secTitle">
                        &ensp;Water & Temperature Stress: 
                    </label>
                    <% for(let i = 0; i < kind['Function']['Water & Temperature Stress'].length; i++) { %>
                        <input type="checkbox" name="function4" value="<%= kind['Function']['Water & Temperature Stress'][i] %>"> 
                            <%= kind["Function"]['Water & Temperature Stress'][i] %>
                    <% } %>
                    <br>
                </div>

                <div>
                    <label class="secTitle">
                        &ensp;Pesticide: 
                    </label>
                    <% for(let i = 0; i < kind['Function']['Pesticide'].length; i++) { %>
                        <input type="checkbox" name="function5" value="<%= kind['Function']['Pesticide'][i] %>"> 
                            <%= kind["Function"]['Pesticide'][i] %>
                    <% } %>
                    <br>
                </div>

                <div>
                    <label class="secTitle">
                        &ensp;Hemolysis & Pathogenic: 
                    </label>
                    <% for(let i = 0; i < kind['Function']['Hemolysis & Pathogenic'].length; i++) { %>
                        <input type="checkbox" name="function6" value="<%= kind['Function']['Hemolysis & Pathogenic'][i] %>"> 
                            <%= kind["Function"]['Hemolysis & Pathogenic'][i] %>
                    <% } %>
                    <br>
                </div>

                <div>
                    <label class="secTitle">
                        &ensp;Others: 
                    </label>
                    <% for(let i = 0; i < kind['Function']['Others'].length; i++) { %>
                        <input type="checkbox" name="function7" value="<%= kind['Function']['Others'][i] %>"> 
                            <%= kind["Function"]['Others'][i] %>
                    <% } %>
                    <br>
                </div>

            </div>
            
            <div>
                <label class="title">Resource: </label> 
                <% for(let i = 0; i < kind['Resource'].length; i++) { %>
                    <label>
                        <input type="radio" name="resource" value="<%= kind['Resource'][i] %>"> <%= kind["Resource"][i] %>
                    </label>
                <% } %>
                <br>
            </div>
            
            <div>
                <label class="title">Target: </label> 
                <% for(let i = 0; i < kind['Crop/Target'].length; i++) { %>
                    <label>
                        <input type="checkbox" name="target" value="<%= kind['Crop/Target'][i] %>"> <%= kind["Crop/Target"][i] %>
                    </label>
                <% } %>
                <br>
            </div>

            <div>
                <label class="title">Reference:</label>
                <input type="url" name="reference" size="100" class="size">
            </div>

            <div>
                <label class="title">PS:</label>
                <input type="textarea" name="ps" size="135" class="size">
            </div>

            <div class="buttonsSetting">
                <button class="buttons" type="button" onclick="closeAddWindow()">Cancel</button>
                <button class="buttons" type="submit">Confrim</button>
            </div>
        </form>
    </div>

</body>
</html>
<script>
    function openAddWindow() {
        let window = document.getElementsByClassName('addWindow')[0];
        window.classList.add('openAddWindow');
    }

    function closeAddWindow() {
        let window = document.getElementsByClassName('addWindow')[0];
        window.classList.remove('openAddWindow');
    }
</script>

